:root {
  --dark-font-color: #94a1b2;
  --main-color: #16161a;
  --main-color-alpha: #16161a99;
  --button-color: #007bff;
  --button-font-color: #fffffe;
  --headline: #ffffe3;
}

@font-face {
  font-family: "Titan One";
  src:url("assets/TitanOne-Regular.ttf") format("truetype"),
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

h2 {
  font-family: "Fira Code", system-ui;
  font-size: 2vw;
  margin-bottom: 2vw;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
}

main {
  max-width: 70vw;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

header {
  background-color: transparent;
  width: 90%;
  padding: 2vw;
  height: 10vh;
  border-radius: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header span {
  font-weight: 700;
  color: var(--dark-font-color);
}

header nav {
  width: 90%;
  height: max-content;
  padding: 2vw;
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  font-weight: 700;
  text-decoration: none;
  color: var(--headline);
}

header nav ul li a:hover {
  color: var(--button-color);
  filter: blur(50%);
}

header button {
  color: var(--button-font-color);
  background-color: transparent;
  padding: max-content;
  padding: .5vw;
  border-radius: 3vw;
  background-color: var(--button-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vw;
  width: 100%;
  height: 10vh;
  background-color: var(--main-color);
}

footer p {
  color: var(--headline);
  padding-bottom: 1vw;
}

.social-footer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vw;
  padding: 3vw;
}

.social-footer img {
  width: 3vw;
  aspect-ratio: 3 / 2;
  cursor: pointer;
  filter: invert(1) grayscale(1) brightness(0.5);
}

.social-footer img:hover {
  filter: invert(1) grayscale(1) brightness(1);
}

.menu,
.menu_icon {
  display: none;
}

.myself {
  width: 20vw;
  height: 40vh;
  margin-left: 1vw;
  object-fit: contain;
  background-color: #8f8f8f;
  float: right;
  position: relative;
  border-radius: 3vw;
}

.myself img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3vw;
}

.to__border{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.myself:hover .to__border{
  background-color: var(--main-color-alpha);
  backdrop-filter: blur(1px);
  transition: all .2s ease-in-out;
}

.logo {
  width: 120px;
}

.certLogo {
  border-radius: 50vw;
}
.certLogo:hover {
  filter: drop-shadow(0 0 2em var(--button-color));
}

.content {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  color: #ececec;
  padding: 3vw;
}

.home {
  position: relative;
  padding: 3vw;
  width: 100%;
  height: 100%;
}


.title {
  width: 100%;
  height: 100%;
}

.title h1 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 6vw;
  line-height: 14vh;
  margin-bottom: 3vw;
  word-wrap: break-word;
  color: var(--dark-font-color);
}

.home strong {
  font-family: "Fira Code", system-ui;
  font-size: 2vw;
  color: var(--headline);
}

.home p {
  text-align: justify;
  margin-top: 2vw;
  color: var(--dark-font-color);
  line-height: 2em;
}

.home p strong {
  font-family: "Fira Code", system-ui;
  font-size: 1rem;
  color: var(--headline);
}

.about p {
  text-align: justify;
  margin-top: 2vw;
  color: var(--dark-font-color);
  line-height: 2em;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.modal iframe {
  width: 100%;
  height: 100vh;
}

.closeModal {
  background-color: #16161a;
  position: absolute;
  top: .9vw;
  right: 4vw;
  color: #ffffff;
  font-size: 2.5vw;
  cursor: pointer;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  padding: 5vw;
  height: 100%;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons a {
  padding: 2vw;
  background-color: var(--button-color);
  border-radius: 3vw;
  color: var(--button-font-color);
  font-weight: 400;
}

.about {
  padding: 3vw;
  width: 100%;
  height: 100%;
}

.projects {
  padding: 3vw;
  width: 100%;
  height: 100%;
} 

.projects-container{
  width: 100%;
  height: 100%;
  border-radius: 1vw 1vw;
  display: flex;
  gap: 2vw;
  overflow: hidden;
}

.project-container{
  width: 100%;
  height: max-content;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.project{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.cover{
  width: 100%;
  height: 100%;
  background-color: var(--main-color-alpha);
  backdrop-filter: blur(.2vw);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  place-items: center;
}



.project:hover{
  overflow: visible;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
  padding: 1vw;
}

.cover strong{
  color: var(--dark-font-color);
  font-size: 13vw;
  transform: rotate(-90deg);
  white-space: nowrap;
  grid-column: 4 / 7;
}

.project:hover .cover{
  opacity: 0;
  transition: all .3s ease-in-out;
  position: absolute;
  left: 100%;
}

.project img{
  width: 100vw;
  height: 100vh;
  object-fit:  cover;
  z-index: 1;
}

.project:hover img{
  width: 12vw;
  height: 50%;
  object-fit: contain;
  position: relative;
}

.project-links{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8vw;
}

.project-links a{
  background-color: var(--button-color);
  padding: .5vw 1vw;
  border-radius: 3vw;
  color: var(--headline);
  
}

.education{
  padding: 3vw;
  width: 100%;
  height: 100%;
}

.courses-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.course{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  gap: 2vw;
}

.course img{
  width: 5vw;
  aspect-ratio: 1 / 1;
  border-radius: .8vw;
  filter: drop-shadow(0 0 10vw var(--button-color));  
}

.course-info{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5vw;
}

.capitalize{
  text-transform: capitalize;
}

.course-info h3{
  color: var(--dark-font-color);
}
.course-info span{
  color: var(--button-color);
}
.course-info p{
  color: var(--dark-font-color);
}
.course-info a{
  background-color: var(--button-color);
  padding: .5vw 1vw;
  border-radius: 3vw;
  color: var(--headline);
  
}
.course-info a:hover{
  color: var(--main-color);
}

@media (width <= 768px) {
  header {
    width: 100%;
  }
  header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul .logo {
    width: 100px;
  }
  header nav ul li {
    display: none;
  }

  header nav ul :last-child{
    display: block;
    padding: 2vw 2vw;
  }

  footer{
    width: 100%;
    height: 20vh;
  }

  footer p{
    font-size: 3vw;
    padding: 2vw;
  }

  .social-footer img{
    width: 10vw;
  }

  main{
    max-width: 90%;
  }

  h2 {
    font-size: 6vw;
  }

  .myself {
    width: 120px;
    height: 120px;
  }
  
  .title h1 {
    font-size: 2rem;
    line-height: normal;
    font-family: "Titan One", sans-serif;
  }

  .home strong{
    font-size: 5vw;
  }

  .project{
    width: 100%;
    height: 100%;
  }

  .projects-container{
    width: 100%;
    height: 100%;
  }

  .project-container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .project:hover img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: 20px;
  }

  .cover{
    width: 100%;
    background-color: var(--main-color);
    height: 100%;
  }

  .cover strong{
    font-size: 8vw;
    transform: rotate(0deg);
  }


  .project-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project-info img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
  }

  .project-links{
    flex-direction: row;
    gap: 2vw;
    width: 100%;
  }

  .project-links a{
    padding: 1vw 2vw;
    margin: 3vw;
  }
  
  .courses-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4vw;
  }

  .course{
    width: 100%;
    height: max-content;
    gap: 3vw;
  }

  .course img{
    width: 15vw;
    height: 14%;
    border-radius: 3vw;
    filter: drop-shadow(0 0 20vw var(--button-color)); 
  }

  .course-info a{
    padding: 2vw 2vw;
    margin: 3vw;
  }

  .closeModal {
    font-size: 4vw;
  }
}
